.contactHeader {
    position: relative;
    display: block;
    width: 100%;
    height: 60vh;
}

.contactHeaderImg {
    object-fit: cover;
    object-position: bottom;
    filter: brightness(0.4);
    z-index: -1;
}

.contactHeaderTitle {
    display: flex;
    width: 100%;
    height: 60vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    color: white;
    padding-bottom: 60px;
}

.contactHeaderTitle h1 {
    font-family: var(--sec-font);
    font-size: 2.5rem;
}

.contactHeaderTitle h2 {
    font-family: var(--prime-font);
    font-size: 1.3rem;
}

.contactFormContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.contactFormContainer input {
    text-align: center;
    font-family: var(--prime-font);
    font-size: 1.2rem;
}

.contactFormContainer input:focus {
    border-color: rgb(var(--color-1));
    outline: none;
}

.contactFormContainer label {
    font-family: var(--sec-font);
    font-size: 1.4rem;
}

.formArea1 {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 25rem;
    justify-content: space-evenly;
    text-align: center;
}

.formArea2 {
    display: flex;
    width: 45rem;
    justify-content: space-evenly;
    align-items: center;
}

.formInput1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 33.3%;
}

.formInput2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 33.3%;
}

.formInput3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 33.3%;
}

.formArea3 {
    display: flex;
    flex-direction: column;
    /* height: 30vh; */
    width: 25rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.formArea3 textarea {
    max-width: 30rem;
    min-width: 30rem;
    min-height: 10rem;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 1.1rem;
}

.formArea3 textarea:focus {
    outline: none;
    border-color: rgb(var(--color-1));
}

.contactFormBtn {
    width: 8rem;
    padding: 10px;
    border-radius: 0;
    cursor: pointer;
    border: 1px solid rgb(var(--color-1));
    font-family: var(--sec-font);
    font-weight: 700;
    background: var(--color-2);
    transition: var(--transition);
}

.contactFormBtn:hover {
    background: var(--color-4);
}

.sendingContainer {
    width: 8rem;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgb(var(--color-1));
    background: var(--color-2);
    transition: var(--transition);
}

.sendingCircle {
    width: 1rem;
    height: 1rem;
    border-radius: 25px;
    border-top: 5px solid var(--color-3);
    border-bottom: 5px solid var(--color-4);
    transition: var(--transition);
}

.formSent {
    font-family: var(--sec-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    width: 100%;
    opacity: 1;
    transition: var(--transition);
}

.btnStyle {
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 15px;
    height: 30px;
    text-decoration: none;
    color: rgb(var(--color-1));
    font-weight: 700;
    background: var(--color-3);
    font-family: var(--sec-font);
    transition: var(--transition);
}

.btnStyle:hover {
    color: white;
    background: var(--color-2);
    border: 1px solid var(--color-3);
}

/* ANIMATIONS */

.rotate_center {
    -webkit-animation: rotate-center 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite both;
    animation: rotate-center 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-7 16:42:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {
    .formArea1 {
        width: 100%;
        align-items: center;
    }

    .formArea1 input {
        width: 90%;
    }

    .formArea2 {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .formArea3 {
        width: 100%;
    }

    .formArea3 textarea {
        min-width: 90%;
    }
}