
.service_blocks_wrapper {
    background: rgba(var(--color-1),0.5);
    text-align: center;
    /* border: 2px solid black; */
    width: 100%;
    height: 20rem;
    overflow: hidden;
    margin: 50px 0px;
    font-family: var(--sec-font);
}

.service_blocks_wrapper p{
    padding: 20px;
    font-size: 1.5rem;
}

.service_blocks_top {
    background: linear-gradient(to bottom, var(--color-2), rgba(var(--color-1), 0));
    padding: 20px 0;
    color: black;
}

.serviceIcon {
    font-size: 2rem;
    color: rgb(var(--color-1));
}